<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pupils</title>
</head>
<body>
<table>
    <tbody>
    <tr th:each = "pupil: ${list}">
        <td th:text = "${pupil.name}"></td>
    </tr>
    </tbody>

</table>
<form action="/addNewPupils" method="post">
    <p><strong>Новые ученики</strong></p>
    <p><input type = "text" placeholder="Введите новое имя" maxlength="50" size="40" name="name"> </p>
    <p><input type="submit" value="Отправить" ></p>
</form>
</body>
</html>